/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
  height: 150%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: rgb(46, 42, 42);
  font-size: 16px;
  text-align: center;
  background-image: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 3rem;
}

.attendees {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.hide {
  display: none;
}

header {
  width: 100%;
}

h1 {
  font-size: 2.25em;
  font-family: "Oswald", sans-serif;
}

.add-guest,
.guest-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-guest {
  margin-top: 1em;
}

.add-guest label {
  margin-bottom: 1em;
}

.add-guest input {
  padding: 0.25em;
}

.fa-envelope {
  color: #ccc;
}

button {
  align-self: center;
  margin: 2em 0;
  padding: 0.5em 1.5em;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: tomato;
}

button:hover {
  filter: brightness(85%);
}

button:active {
  transform: scale(0.98);
}

input {
  border: 1px solid #292929;
}

input:focus {
  border: 2px solid;
  background-color: mintcream;
}

.guest-list {
  color: #292929;
}

.assigned-items li {
  margin: 0.45em 0;
  background-color: #fff;
  color: tomato;
  font-weight: bold;
  color: 292929;
}

.guest-list,
.assigned-items {
  width: 100%;
  list-style: none;
  padding: 0;
}

.guest-list li,
.assigned-items li {
  padding: 0.5em 0;
}

.items-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
}
.assigned-items {
  width: 100%;
  max-width: 400px;
}

footer {
  width: 100%;
  padding: 2em 0;
}
@media screen and (min-width: 800px) {
  .container {
    justify-content: space-between;
  }

  .guest-list {
    width: 70%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
